* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: right;
}
div.grid-item {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

body {
    justify-content: center;
}