* {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: end;
}

body {
    color: white;
    background-color: rgb(49, 47, 47);
    /* background-image: url("tiedye1.jpg"); */
}

aside {
    display: flex;
    flex: 30%;
    background-color: gray;
    padding: 20px;
    width: 10%;
    align-content:flex-start
  }

/* .navbar {
    background-color: blue;
    display: flex;
    text-decoration-style: none;
    text-decoration: none;
    justify-content: space-between;
} */

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    height: 100px;
    align-items: center;
}

li {
    display: inline;
    text-decoration-style: none;
    text-decoration: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 20px;
}



.grid-container {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    /* grid-template-areas: 
    "header header"
    "sidebar content"
    "sidebar content" */
    justify-content: center;
}

.grid-container :hover {
    transition: 0.2s;
    border: 5px solid blue;
}

.grid-item {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: skyblue;
    height: 200px;
}

.grid-item-1 {
 /* grid-area: header; */
 /* grid-column-start: 1;
 grid-column-end: 3; */
grid-column: 1 / -1;
background-image: url("tiedye1.jpg");
height: 300px;
}

.grid-item a {
    font-size: 30px;
    background-color: aqua;
    text-decoration: none;
}

.grid-item-2 {
    /* grid-area: sidebar;
    height: 100% */
    grid-row-start: 2;
    grid-row-end: 5;
}
.grid-item-3 {
    grid-column-start: 1 / 2;
}

#contactme {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    height: 100px;
    align-items: center;
}
.contact {  
    font-size: 20px;
}

#contactme li a {
    text-decoration: none;
}

#contacth2 {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width:900px) {
    .navbar, .navbar ul li {
        display: block;
        background-color: black;
        justify-content: center;
        }
    } 

@media screen and (max-width:1000px) {
    .contactme ul li {
        display: block;
        background-color: black;
        justify-content: center;
        }
    } 
        
    
@media screen and (min-width:1000px) {
    nav li a:hover {
        background-color:black;
        transition: 0.2s;
        }
    }

/* @media screen and (max-width:200px) {
 body {
    display: grid;
    grid-column-start: 1 / 1;
 }   
} */

@media screen and (max-width: 1000px) { 
    .grid-container, .grid-item {
        display: flex;
        flex-wrap: wrap;
    }
}
